html,
body {
  position: relative;
  color: $black;
  margin: 0px;
  padding: 0px;
  font-family: $font;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

* {
  outline: none !important;
}

.headerId {
  display: none !important;
}

.MuiDialogContent-root {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;

  /* Firefox */
  &::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
  }
}

.MuiTablePagination-root {
  background: rgba(0, 0, 0, 0.05);
}

.MuiTablePagination-toolbar {
  min-height: 62px !important;
}